<html>

<head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/diagnose.css') }}" />
    <title>Diagnose Page</title>
</head>

<body>
        <div class="imgClass"></div>

        <div class="textPart">
            <!-- <p class="headTitle">Self Diagnosis</p> -->
            <h2>Fill the details gotten from your Mammogram</h2>
            <form action="/api/get_user_input" method="POST" novalidate>
    
            {{ form.hidden_tag() }}
                <div class="row">
                    <div class="first">
                        <p id="radValue", name="radValues">
                            {{ form.meanradiusvalue.label }}<br>
                            {{ form.meanradiusvalue(size=32) }}<br>
            
                        </p>
                        <p id="textureValue", name="textureValues">
                            {{ form.meantexturevalue.label }}<br>
                            {{ form.meantexturevalue(size=32) }}
            
                        </p>
                        <p id="perValue", name="perValues">
                            {{ form.meanperimetervalue.label }}<br>
                            {{ form.meanperimetervalue(size=32) }}
            
                        </p>
                        <p id="areaValue", name="areaValues">
                            {{ form.meanareavalue.label }}<br>
                            {{ form.meanareavalue(size=32) }}
            
                        </p>
                        <p id="smoothValue", name="smoothValues">
                            {{ form.meansmoothnessvalue.label }}<br>
                            {{ form.meansmoothnessvalue(size=32) }}
            
                        </p>
                        <p id="compactValue", name="compactValues">
                            {{ form.meancompactnessvalue.label }}<br>
                            {{ form.meancompactnessvalue(size=32) }}
            
                        </p>
                        <p id="concaveValue", name="concaveValues">
                            {{ form.meanconcavityvalue.label }}<br>
                            {{ form.meanconcavityvalue(size=32) }}
            
                        </p>
                        <p id="cpointsValue", name="cpointsValues">
                            {{ form.meanconcavepointsvalue.label }}<br>
                            {{ form.meanconcavepointsvalue(size=32) }}
            
                        </p>
                        <p id="symValue", name="symValues">
                            {{ form.meansymmetryvalue.label }}<br>
                            {{ form.meansymmetryvalue(size=32) }}
            
                        </p>
                        <p id="fractValue", name="fractValues">
                            {{ form.meanfractaldimensionvalue.label }}<br>
                            {{ form.meanfractaldimensionvalue(size=32) }}
            
                        </p>
                    </div>
                    
                    <div class="second">
                        <p id="raderrValue", name="raderrValues">
                            {{ form.radiuserrorvalue.label }}<br>
                            {{ form.radiuserrorvalue(size=32) }}
            
                        </p>
                        <p id="textureerrValue", name="textureerrValues">
                            {{ form.textureerrorvalue.label }}<br>
                            {{ form.textureerrorvalue(size=32) }}
            
                        </p>
                        <p id="pererrValue", name="pererrValues">
                            {{ form.perimetererrorvalue.label }}<br>
                            {{ form.perimetererrorvalue(size=32) }}
            
                        </p>
                        <p id="areaerrValue", name="areaerrValues">
                            {{ form.areaerrorvalue.label }}<br>
                            {{ form.areaerrorvalue(size=32) }}
            
                        </p>
                        <p id="smootherrValue", name="smootherrValues">
                            {{ form.smoothnesserrorvalue.label }}<br>
                            {{ form.smoothnesserrorvalue(size=32) }}
            
                        </p>
                        <p id="compacterrValue", name="compacterrValues">
                            {{ form.compactnesserrorvalue.label }}<br>
                            {{ form.compactnesserrorvalue(size=32) }}
            
                        </p>
                        <p id="concaveerrValue", name="concaveerrValues">
                            {{ form.concavityerrorvalue.label }}<br>
                            {{ form.concavityerrorvalue(size=32) }}
            
                        </p>
                        <p id="cpointserrValue", name="cpointserrValues">
                            {{ form.concavepointserrorvalue.label }}<br>
                            {{ form.concavepointserrorvalue(size=32) }}
            
                        </p>
                        <p id="symerrValue", name="symerrValues">
                            {{ form.symmetryerrorvalue.label }}<br>
                            {{ form.symmetryerrorvalue(size=32) }}
            
                        </p>
                        <p id="fracterrValue", name="fracterrValues">
                            {{ form.fractaldimensionerrorvalue.label }}<br>
                            {{ form.fractaldimensionerrorvalue(size=32) }}
            
                        </p>
                    </div>
                    
                    <div class="third">
                        <p id="wradValue", name="wradValues">
                            {{ form.worstradiusvalue.label }}<br>
                            {{ form.worstradiusvalue(size=32) }}
            
                        </p>
                        <p id="wtextureValue", name="wtextureValues">
                            {{ form.worsttexturevalue.label }}<br>
                            {{ form.worsttexturevalue(size=32) }}
            
                        </p>
                        <p id="wperValue", name="wperValues">
                            {{ form.worstperimetervalue.label }}<br>
                            {{ form.worstperimetervalue(size=32) }}
            
                        </p>
                        <p id="wareaValue", name="wareaValues">
                            {{ form.worstareavalue.label }}<br>
                            {{ form.worstareavalue(size=32) }}
            
                        </p>
                        <p id="wsmoothValue", name="wsmoothValues">
                            {{ form.worstsmoothnessvalue.label }}<br>
                            {{ form.worstsmoothnessvalue(size=32) }}
            
                        </p>
                        <p id="wcompactValue", name="wcompactValues">
                            {{ form.worstcompactnessvalue.label }}<br>
                            {{ form.worstcompactnessvalue(size=32) }}
            
                        </p>
                        <p id="wconcaveValue", name="wconcaveValues">
                            {{ form.worstconcavityvalue.label }}<br>
                            {{ form.worstconcavityvalue(size=32) }}
            
                        <p id="wcpointsValue", name="wcpointsValues">
                            {{ form.worstconcavepointsvalue.label }}<br>
                            {{ form.worstconcavepointsvalue(size=32) }}
            
                        </p>
                        <p id="wsymValue" name="wsymValues">
                            {{ form.worstsymmetryvalue.label }}<br>
                            {{ form.worstsymmetryvalue(size=32) }}
                        </p>
            
                        <p id="wfractValue" name="wfractValues">
                            {{ form.worstfractaldimensionvalue.label }}<br>
                            {{ form.worstfractaldimensionvalue(size=32) }}
                        </p>
                    </div>
                </div>
                
                <div class="showResult">
                    <button type="button">
                        {{ form.diagnose() }}
                    </button>
                </div>
                
                {{ form.csrf_token }}
            </form>
        </div>
        
        <footer>
            <p class="footerTxt">Basella et thaDev</p>
        </footer>
</body>

</html>


<!-- <input type="text" name="meanradiusvalue" id="meanradiusvalue">
        <input type="text" name="meantexturevalue" id="meantexturevalue">
        <input type="text" name="meanperimetervalue" id="meanperimetervalue">
        <input type="text" name="meanareavalue" id="meanareavalue">
        <input type="text" name="meansmoothnessvalue" id="meansmoothnessvalue">
        <input type="text" name="meancompactnessvalue" id="meancompactnessvalue">
        <input type="text" name="meanconcavityvalue" id="meanconcavityvalue">
        <input type="text" name="meanconcavepointsvalue" id="meanconcavepointsvalue">
        <input type="text" name="meansymmetryvalue" id="meansymmetryvalue">
        <input type="text" name="meanfractaldimensionvalue" id="meanfractaldimensionvalue">
        <input type="text" name="radiuserrorvalue" id="radiuserrorvalue">
        <input type="text" name="textureerrorvalue" id="textureerrorvalue">
        <input type="text" name="perimetererrorvalue" id="perimetererrorvalue">
        <input type="text" name="areaerrorvalue" id="areaerrorvalue">
        <input type="text" name="smoothnesserrorvalue" id="smoothnesserrorvalue">
        <input type="text" name="compactnesserrorvalue" id="compactnesserrorvalue">
        <input type="text" name="concavityerrorvalue" id="concavityerrorvalue">
        <input type="text" name="concavepointserrorvalue" id="concavepointserrorvalue">
        <input type="text" name="symmetryerrorvalue" id="symmetryerrorvalue">
        <input type="text" name="fractaldimensionerrorvalue" id="fractaldimensionerrorvalue">
        <input type="text" name="worstradiusvalue" id="worstradiusvalue">
        <input type="text" name="worsttexturevalue" id="worsttexturevalue">
        <input type="text" name="worstperimetervalue" id="worstperimetervalue">
        <input type="text" name="worstareavalue" id="worstareavalue">
        <input type="text" name="worstsmoothnessvalue" id="worstsmoothnessvalue">
        <input type="text" name="worstcompactnessvalue" id="worstcompactnessvalue">
        <input type="text" name="worstconcavityvalue" id="worstconcavityvalue">
        <input type="text" name="worstconcavepointsvalue" id="worstconcavepointsvalue">
        <input type="text" name="worstsymmetryvalue" id="worstsymmetryvalue">
        <input type="text" name="worstfractaldimensionvalue" id="worstfractaldimensionvalue"> -->