pip install virtualenv
virtualenv env
env/Scripts/activate
pip install flask flask_sqlalchemy flask_migrate
pip install flask_assets
pip install cssmin
pip install flask_wtf
import werkzeug.http
pip install httpie