<!-- {% from "macros.html" import nav_link with context %} -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />

</head>

<body>

    {% block body %}
        <div>
            <div class="imgClass"></div>

            <p class="diagName">E Diagnostic Center</p>
            <div class="textPart">
                <h1>Breast Cancer Detector</h1>
                <h3 class="subWrite">This site aids the early detection and identification of breast cancer</h3>
            </div>

            <div class="startDiagnosisButton">
                <a href="{{ url_for('diagnose') }}"><button type="button">Start Diagnosis</button></a>
            </div>

            <footer>
                <p class="footerTxt">Basella et thaDev</p>
            </footer>
        </div>

    

    {% endblock %}
</body>



</html>