{% from "macros.html" import nav_link with context %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% block head %}
    <title>Breast Cancer Detector</title>
    {% endblock %}

</head>

<body>

    <ul class="nav-list">
        {{ nav_link('dashboard', 'Home') }}
        {{ nav_link('diagnose', 'Diagnose') }}
    </ul>

    {% block body %}
    <h2>Welcome to the Breast Cancer Detector</h2>
    {% endblock %}
</body>

<footer>
    <p>Basella et thaDev</p>
</footer>

</html>